/* Apply global styles by using and * */
/* THis css will be linked on all pages so the names need to be unique */
* {
    margin: 0;
    padding: 0px;
}

/* header and footer apply to all html pages */
body {
    width: 100%;
    margin: 0 auto;
    /* Make sure margins are 0 and centered  */
    font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    width: 100%;
    height: 100px;
    background-color: rgb(39,42,116);
    /* Add fixed position to the browser so the nav bar stays at the top
    and the hero img will now slip under neath the bar */
    position: fixed;
    top: 0px;
    /* This makes sure the navbar is on top of everything */
    z-index: 1;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.logo {
    height: 100px;
    float: left;
}

.nav-div {
  float: right;
}
 /*-----------------------------------------------------------------------------  */
 /* Dropdown Button */
.dropbtn {
    background-color:  rgb(52,73,143); /* rgb(65,96,146);*/
    color: white;
    padding: 16px;
    margin: 14px;
    font-size: 32px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 24px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

/*-----------------------------------------------------------------------------  */
/* Start of MAIN */

/* main { */
  /* width: 100%; */
  /* display: inline-block; */
  /* border: 1px solid purple; */
/* } */

.main-div {
    width: 100%; 
    text-align: center;
    margin-top: 105px;
    /* border: 1px solid red; */
  }

.main-div2 {
    display: inline-block; 
    margin: 0 auto;
    /* border: 1px solid black; */
 }

 /* .clear-div {
  
} */

.main-div3 {
  display: inline-block; 
  margin: 0 auto;
  /* border: 1px solid green; */
}

/* DivTable.com -------------------------------------------*/
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	/* border: 1px solid #999999; */
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

/* Colored div boxes ---------------------------- */
.status-box {
  float: left;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

/* tooltips for colored boxes ------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Map div box  ----------------------------------------*/

.map-box {
  float:left;
}

/* image zoom on hover ------------------------------------*/
.zoom {
  transition: transform .2s; /* Animation */
  width: 300px;
  /* height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}